<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="false">
        <report>
            <clover outputFile="./runtime/coverage/clover.xml"/>
            <cobertura outputFile="./runtime/coverage/cobertura.xml"/>
            <html outputDirectory="./runtime/coverage/html"/>
            <text outputFile="php://stdout"
                  showOnlySummary="true"
                  showUncoveredFiles="false"/>
        </report>
    </coverage>
</phpunit>
